/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
}

/* Fin du reset */

:root{
    --background: #FFFAF0;
    --accent: #5cbc6d;
    --danger: #bc6d5c;
    --secondary: #6d5cbc;
    --radius: 12px;
    --font: 'Exo', sans-serif;
    --transition: all 200ms ease-in-out;
}

html{
    font-size: 1.25rem;
    background-color: var(--background);
    font-family: var(--font);

    width: 40%;
    margin: auto;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--accent);
    border-radius: 0 0 var(--radius) var(--radius);
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgermenu{
    width: 71px;
    height: 71px;
    border-radius: var(--radius);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    transition: var(--transition);
    z-index: 9999;
}

.bar{
    width: 80%;
    height: 8px;
    border-radius: 2px;
    background-color: var(--background);
    margin: auto;
    transition: var(--transition);
}

.burgermenu:hover{
    background-color: var(--danger);
}

.header-nav{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    box-sizing: border-box;
    flex-direction: column;
}

.header-nav h1{
    margin: 1rem 0.5rem;
    padding: 1rem 0;
    background-color: var(--background);
}

.header-nav ul{
    display: flex;
    flex-direction: column;
}

.header-nav li a{
    padding: 1.5rem 1.5rem;
    border-radius: 0 0 var(--radius) 0;
    border-bottom: #5cbc6d 2px solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 12px var(--secondary);
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 999;

    &:hover{
        background-color: #f6f6f6;
    }
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

button{
    background-color: var(--accent);
    border-radius: var(--radius);
    font-family: var(--font);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: auto;
    width: 100%;
    text-transform: uppercase;
    transition: var(--transition);
}

button:hover{
    background-color: var(--secondary);
    color: var(--background);
}

/* Section */

section{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 1rem;
}

.section-titre > a{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

input{
    width: 100%;
    background-color: var(--background);
    font-family: var(--font);
    font-size: 1.20rem;
    border-radius: var(--radius);
    padding: 0.5rem;
    border: 1px solid var(--accent);

    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    html{
        width: 100%;
    }
}