.labelinput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
    gap: 8px;
}

label{
    text-decoration: underline;
}

label::after{
    content: " :";
}



form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form>a{
    color: var(--secondary)
}
form>a:hover{
    color: var(--accent)
}